In [105]:
#fibonacci Series
i,j=0,1
for k in range(10):

    print(i)
    i,j=j,i+j

0
1
1
2
3
5
8
13
21
34

In [106]:
#printing prime numbers in given range

start = 100
end = 150
print("Prime numbers between", start, "and", end, "are:")

for j in range(start, end + 1):

    if j > 1:
        for i in range(2, j):

            if (j % i) == 0:

                break
        else:
            print(j)

Prime numbers between 100 and 150 are:
101
103
107
109
113
127
131
137
139
149

In [107]:
# table of any number
num=int(input("Enter any number "))
for i in range (1,21):
  print(num*i)

Enter any number 4
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80

In [108]:
#Data structures

In [123]:
#list
mylist=["Naman","sehaj",'Sharma']

print(me)
print(len(me))
print(type(me))
print(mylist)
print(len(mylist))
print(type(mylist))
print(mylist[1])
print(me[0])
print(mylist[-2])
print(me[-1])
print(me[0:])
print(me[:2])
print(mylist[:4])

['Hello', 'hey']
2
<class 'list'>
['Naman', 'sehaj', 'Sharma']
3
<class 'list'>
sehaj
Hello
sehaj
hey
['Hello', 'hey']
['Hello', 'hey']
['Naman', 'sehaj', 'Sharma']

In [111]:
#append function used to add element in a list
thislist = ["apple", "banana", "cherry"]
"""thislist.append("orange")
print(thislist)"""
#insert
thislist.insert(0, "orange")
print(thislist)
#extend
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
#remove
thislist.remove("pineapple")
print(thislist)
#pop
thislist.pop(2)
print(thislist)
#del
del thislist[0]
print(thislist)
#clear
thislist.clear()
print(thislist)

['orange', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'mango', 'papaya']
['apple', 'banana', 'mango', 'papaya']
['banana', 'mango', 'papaya']
[]

In [112]:
 thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [113]:
# Reverse a list in Python
list = [100,23,2354,45]

list.reverse()
print(list)

[45, 2354, 23, 100]

In [114]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]): #zip function is used aggregate 2 or more lists into a tuple
    print(x, y)

10 400
20 300
30 200
40 100

In [115]:
#conversion of tupple to list
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [121]:
#find even and odd questions in a list
numbers = [10, 15, 20, 25, 30, 35, 40, 45, 50]
even_numbers = []
odd_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)
print("Even Numbers:", even_numbers)
print("Odd Numbers:", odd_numbers)

Even Numbers: [10, 20, 30, 40, 50]
Odd Numbers: [15, 25, 35, 45]

In [132]:
#Remove duplicate elements in a list
num = [10, 15, 20, 25,25,10, 30, 35, 40, 45, 50]
unique=[]

for i in num:
    if i not in unique:
        unique.append(i)
        print(unique)

[10]
[10, 15]
[10, 15, 20]
[10, 15, 20, 25]
[10, 15, 20, 25, 30]
[10, 15, 20, 25, 30, 35]
[10, 15, 20, 25, 30, 35, 40]
[10, 15, 20, 25, 30, 35, 40, 45]
[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [135]:
#Find second largest element of a list
list = [10, 15, 20, 25, 30, 35, 40, 45, 50]
list.sort()
print(list[-2])

45