In [ ]:
#defining a function
def my_function():
  print("Hello from a function")

In [ ]:
#calling a function
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
# some more functions
def is_prime(n):
    if n in [2, 3]:
        return True
    if (n == 1) or (n % 2 == 0):
        return False

print(is_prime(1), is_prime(7))

False None

In [ ]:
# positional arguments

def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)


print("Case-1:")
nameAge("Suraj", 27)

print("Wrong case") # wrong because we have given the order of age and name on wrong positions
nameAge(21,"Cheryl")

print("Case 2")
nameAge("Naman",21)

Case-1:
Hi, I am Suraj
My age is  27
Wrong case
Hi, I am 21
My age is  Cheryl
Case 2
Hi, I am Naman
My age is  21

In [ ]:
def evenOdd(x):
  if (x%2==0):
    print("Even")
  else:
      print("Odd")

evenOdd(12)
evenOdd(3)

Even
Odd

In [ ]:
#function within function
def f1():
  name =("Naman")
  def f2():
     print(name)

  f2()
f1()

Naman

In [ ]:
#factorial using recursion
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(7))

5040

In [ ]:
#How to change a global variable
x = 5


def change():

	global x


	x = x + 5
	print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 10
Value of x outside a function : 10

In [ ]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
# Write a function find_max(*numbers) that takes any number of arguments and returns the maximum value.

def find_max(*numbers):
  if not numbers :
     return  "no number available"
     return max(numbers)

print(find_max(3, 8, 2, 10, 5))
print(find_max(1, 4, 7))
print(find_max())

None
None
no number available

In [ ]:
def find_max(*numbers):
    if not numbers:
        return "No numbers provided"
    return max(numbers)

# Example usage
print(find_max(3, 8, 2, 10, 5))  # Output: 10
print(find_max(1, 4, 7))         # Output: 7
print(find_max())                # Output: No numbers provided

10
7
No numbers provided

In [7]:
#oops
#concept of class and object
class student:
  name = "karan"


s1 = student()
print(s1)
print(s1.name)

<__main__.student object at 0x7bc81a9da1d0>
karan

In [9]:
class car:
  color = "blue"


car1 = car()
print(car1.color)

blue

In [12]:
from typing_extensions import Self
class student:
  def __init__(Self) :
    print("adding new data database")
  name = "karan"


s1 = student()
print(s1)
print(s1.name)

adding new data database
<__main__.student object at 0x7bc7e3cc9b10>
karan

In [18]:
class student:
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def get_avg(self):
    sum = 0
    for val in self.marks :
      sum+= val
    print ("Hi",self.name,"your avg marks are",sum/3)

s1 = student("naman",[10.5,50.89,45.45])
s1.get_avg()

Hi naman your avg marks are 35.61333333333334

In [24]:
class account:
  def __init__(self, bal, acc):
    self.balance = bal
    self.account_no = acc

  def debit(self, amount):
    self.balance -= amount
    print("Rs.", amount, "was debited ")
    print("your balance is Rs.", self.balance)

  def credit(self, amount):
    self.balance += amount
    print("Rs.", amount, "was credited ")
    print("your balance is Rs.", self.balance)

  def get_balance(self):
    print("your balance is Rs.", self.balance)

acc1 = account(10000, 12345)
acc1.debit(1000)
acc1.credit(2000)
acc1.credit(20000)
acc1.get_balance()

Rs. 1000 was debited
your balance is Rs. 9000
Rs. 2000 was credited
your balance is Rs. 11000
Rs. 20000 was credited
your balance is Rs. 31000
your balance is Rs. 31000

In [29]:
#Create a Vehicle class with brand and speed.
#Inherit Car and Bike from Vehicle and add specific attributes

class Vehicle:
    def __init__(self, brand, speed):
        self.brand = brand
        self.speed = speed

    def display_info(self):
        print(f"Brand: {self.brand}, Speed: {self.speed} km/h")

class Car(Vehicle):
    def __init__(self, brand, speed, fuel_type):
        super().__init__(brand, speed)
        self.fuel_type = fuel_type

    def display_info(self):
        super().display_info()
        print("Fuel Type: {self.fuel_type}")

class Bike(Vehicle):
    def __init__(self, brand, speed, type_of_bike):
        super().__init__(brand, speed)
        self.type_of_bike = type_of_bike

    def display_info(self):
        super().display_info()
        print("Type of Bike: {self.type_of_bike}")

car1 = Car("Tata", 220, "Petrol")
bike1 = Bike("Royal enfield", 100, "show bike")

print("Car Details:")
car1.display_info()
print("\nBike Details:")
bike1.display_info()

Car Details:
Brand: Tata, Speed: 220 km/h
Fuel Type: {self.fuel_type}

Bike Details:
Brand: Royal enfield, Speed: 100 km/h
Type of Bike: {self.type_of_bike}

In [38]:
class car :
  color = "black"
  @staticmethod
  def start():
    print("car started..")

  @staticmethod
  def stop():
    print("car stopped.")


class Toyotacar(car):
  def __init__(self,name):
    self.name = name




car1 = Toyotacar("fortuner")
car2 = Toyotacar("virtus")

print(car1.color)
print(car1.stop())

black
car stopped.
None

In [46]:
#Multi level inheritance
class car :
  color = "black"
  @staticmethod
  def start():
    print("car started..")

  @staticmethod
  def stop():
    print("car stopped.")


class Toyotacar(car):
  def __init__(self,brand):
    self.brand = brand

class fortuner(Toyotacar):
  def __init__(self,type):
    self.type=type





car1 = fortuner("diesel")
car1.start()

car started..