In [1]:

rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print()

Enter number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [2]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
i = 1
while i<=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [71]:
rows = int(input("Enter number of rows: "))
for i in range(1,rows+1):
    for j in range(1,rows-i+1):
        print(" ", end="")
        for j in range(1, 2 * i):
          print("*", end="")

        print()

Enter number of rows: 8
 *
 *
 *
 *
 *
 *
 *
 ***
 ***
 ***
 ***
 ***
 ***
 *****
 *****
 *****
 *****
 *****
 *******
 *******
 *******
 *******
 *********
 *********
 *********
 ***********
 ***********
 *************

In [31]:
N = int(input("Enter number of rows: "))


for i in range(1, N + 1):

    for j in range(1, N - i + 1):
        print("  ", end="")


    for j in range(1, 2 * i):
        print("*", end="")

    print()

Enter number of rows: 7
            *
          ***
        *****
      *******
    *********
  ***********
*************

In [20]:
n = 2
for i in range (1,11,1):
  p = n*i
  print(p)

2
4
6
8
10
12
14
16
18
20

In [30]:
n = [12, 75, 150, 180, 145, 525, 50]
for elements in n :

  if  elements % 5 == 0 :
    print(elements)

75
150
180
145
525
50

In [61]:

#factorial of any number
num = int(input("Enter a number "))
factorial = 1
if num<0 :
  print("factorial of negative number do not exist ")
elif num == 0 :
  print("factoril of 0 is 1")
else:
  for i in range(1,num+1):
    factorial = factorial*i
  print("the factorial of",num,"is",factorial)

Enter a number 7
the factorial of 7 is 5040

In [64]:
num = int(input("Enter a number "))
for i in range(0, num):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("")

for i in range(num, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("")

Enter a number 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [67]:
n = 10

start = 4
sum_seq = 0
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    start = start * 10 + 4
print( sum_seq)

4+44+444+4444+44444+444444+4444444+44444444+444444444+4444444444+4938271600

In [69]:
n = 10
k = 10
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1