In [1]:

rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print()

Enter number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [2]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
rows = 6
for i in range(rows):
     for j in range(i):
         print (i,end='')
         print('')

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5

In [5]:
i = 1
while i<=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [15]:
rows = int(input("Enter number of rows: "))
for i in range(1,rows+1):
    for j in range(1,rows-i+1):
        print(" ", end="")
        for j in range(1, 2 * i):
          print("*", end="")

        print()

Enter number of rows: 5
 *
 *
 *
 *
 ***
 ***
 ***
 *****
 *****
 *******

In [31]:
N = int(input("Enter number of rows: "))


for i in range(1, N + 1):

    for j in range(1, N - i + 1):
        print("  ", end="")


    for j in range(1, 2 * i):
        print("*", end="")

    print()

Enter number of rows: 7
            *
          ***
        *****
      *******
    *********
  ***********
*************

In [20]:
n = 2
for i in range (1,11,1):
  p = n*i
  print(p)

2
4
6
8
10
12
14
16
18
20

In [30]:
n = [12, 75, 150, 180, 145, 525, 50]
for elements in n :

  if  elements % 5 == 0 :
    print(elements)

75
150
180
145
525
50